form input, form textarea {
  margin-bottom: var(--big-gap);
}
form img {
  height: 13vw;
  margin-bottom: var(--big-gap);
}
.save-profile-button {
  padding: var(--tiny-gap);
}
.security-button-list>li {
  padding: var(--tiny-gap);
}
.security-button-list>li~li {
  margin-left: var(--small-gap);
}
