form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
form * {
  width: 100%;
}
ul li {
  list-style-type: disc;
  list-style-position: inside;
  display: list-item;
}
form ul li {
  font-size: var(--font-tiny);
}
input {
  margin-bottom: var(--small-gap);
}
input[type=submit] {
  padding: var(--small-gap);
  margin-top: var(--small-gap);
  margin-bottom: 0;
  width: fit-content;
}
