.post-utility-bar {
  margin-top: var(--big-gap);
}
#profile-name {
  height: 10rem;
}
#profile-buttons {
  height: 3rem;
  width: 15rem;
  justify-content: flex-end;
}
#profile-buttons>li a {
  padding: 0 var(--small-gap);
}
#profile-buttons>li {
  margin-left: var(--tiny-gap);
}
#profile-bio {
  height: 10rem;
  margin-top: var(--big-gap);
}
#profile-stats {
  justify-content: flex-end;
}
#profile-stats>li {
  margin-left: var(--small-gap);
}
