.psettings-header {
  font-size: var(--font-big);
  font-weight: bold;
  margin: var(--small-gap) 0;
}

.save-profile-button {
  padding: var(--tiny-gap);
}

.security-button-list>li {
  padding: var(--tiny-gap);
}
.security-button-list>li~li {
  margin-left: var(--small-gap);
}
