{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title style="visibility: collapse; display: none;">Litter</title>
    {% comment %} <link type="text/css" rel="stylesheet" href="{% static 'root/css/base.css' %}">
    <script type="text/javascript" src="{% static 'root/js/base.js' %}"></script> {% endcomment %}
    {% block cssjs %}
    {% endblock %}
  </head>
  <body onload="onLoad();">
    <h1>Chat</h1>
  </body>
</html>
