{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title style="visibility: collapse; display: none;">Litter</title>
    {% comment %} <link type="text/css" rel="stylesheet" href="{% static 'root/css/base.css' %}">
    <script type="text/javascript" src="{% static 'root/js/base.js' %}"></script> {% endcomment %}
    {% block cssjs %}
    {% endblock %}
  </head>
  <body onload="onLoad();">
    <div>
      <h1>Chat</h1>
      <ul>
        {% for room in rooms %}
          <li>
            <a href="{% url 'chat:room' room.id %}">
              {% if room.title %}
              {{ room.title }}
              {% else %}
                {% for user in room.users.all %}
                  {% if user != request.user %}
                    {{user}}
                  {% endif %}
                {% endfor %}
              {% endif %}
              <br>
              {% if room.messages.latest %}
                {{ room.messages.latest.user.username }}: {{ room.messages.latest.text }}
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      {% block chat %}
       
      {% endblock %}
    </div>

    <script type="text/javascript">
      let url = `ws://${window.location.host}/ws/socket-server${window.location.pathname}`
      const chatSocket = new WebSocket(url)

      chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        console.log('Data:', data)

        if(data.type === 'chat'){
          let messages = document.getElementById('messages')

          messages.insertAdjacentHTML('beforeend',`<div>
                                        <p>${data.message}</p>
                                      </div>`)
        }
      }
      let pk = {{ request.user.pk }}
      let form = document.getElementById('form')
      form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
          'message': message,
          'pk': pk
        }))
        form.reset()
      })
    </script>
  </body>
</html>
