{% extends 'base.html' %}

{% load static %}

{% block cssjs %}
<link type="text/css" rel="stylesheet" href="{% static 'core/css/utility-bar.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'profiles/css/notification-list.css' %}">
{% endblock %}

{% block content %}
<div class="utility-bar">
  <ul class="button-list">
  </ul>
  <ul class="button-list">
    <li>
      <a href="{% url 'profiles:notification-read-all' request.user.usertag %}">READ ALL</a>
    </li>
    <li>
      <a href="{% url 'profiles:notification-delete-read' request.user.usertag %}">DELETE READ</a>
    </li>
  </ul>
</div>
<ul class="container-list space-between-list">
  {% for notification in notifications %}
  <li {% if notification.is_unread %} class="highlight-container"{% endif %}>
    <a class="fit-content" href="{% url 'profiles:notification-redirect' request.user.usertag notification.id %}">
      {{ notification }} {{ notification.time_sent|timesince }} ago.
    </a>
    <a class="fit-content" href="{% url 'profiles:notification-delete' request.user.usertag notification.id %}">
      <img class="x-button clickable dark-mode" src="{% static 'root/img/x.png' %}">
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
