{% extends 'base.html' %}
{% load static %}

{% block cssjs %}
<link type="text/css" rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'core/css/post-template.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'core/css/comment-template.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'core/css/utility-bar.css' %}">
<script type="text/javascript" src="{% static 'core/js/post-template.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="space-between">
    <div id="profile-name">
      <div class="icon-text">
        <img src="{{ user.picture.url }}">
        {{ user.username }}
      </div>
    </div>
    <ul id="profile-buttons" class="flex button-list center-list">
      <li>
        {% if is_followed %}
        <a href="{% url 'profiles:follow' user.usertag %}">
          Unfollow
        </a>
        {% else %}
        <a href="{% url 'profiles:follow' user.usertag %}">Follow</a>
        {% endif %}
      </li>
      {% if request.user == user %}
      <li><a href="{% url 'profiles:settings' user.usertag %}">Edit</a></li>
      {% endif %}
      <li><a href="#">...</a></li>
    </ul>
  </div>
  <div id="profile-bio">
    {% if user.bio %}
    {{ user.bio }}
    {% endif %}
  </div>
</div>
<div class="utility-bar">
  <ul class="button-list">
    <li>
      <a href="{% url 'profiles:posts' user.usertag %}">Posts</a>
    </li>
    <li>
      <a href="{% url 'profiles:comments' user.usertag %}">Comments</a>
    </li>
  </ul>
  <ul class="button-list"></ul>
</div>
{% if posts %}
<ul class="post-list container-list">
  {% for post in posts %}
  <li onclick="window.location.href='/post/{{ post.id }}'">
    {% include 'core/post-template.html' %}
  </li>
  {% endfor %}
</ul>
{% elif comments %}
<ul class="comment-list container-list">
  {% for comment in comments %}
  <li>
    {% include 'core/comment-template.html' %}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block rightbar %}
Followers: {{ followers_count }}
<br>
Posts: {{ user.post_total }}
<br>
Comments: {{ user.comment_total }}
<br>
Points: {{ points }}
{% endblock %}
