{% extends 'profiles/profile-template.html' %}

{% block feed %}
    <div>
        {% for post in posts %}
            <div>
                <br><hr>
                <a href="{% url 'core:details-post' post.id %}">{{post.title}}</a>
                {{ post.created|timesince }} ago
                {% if post.was_edited %}
                    <small><bold>Edited</bold></small>
                {% endif %}
                {% if request.user == post.user %}
                    <a href="{% url 'core:delete-post' post.id %}">Delete</a>
                {% endif %}
                {% if post.picture %}
                    <img src="{{ post.picture.url }}">
                {% endif %}
                <br>
                <a href="{% url 'core:vote-post' post.id %}">Vote</a>
                {{ post.vote_count }}
                {% for language in post.languages.all %}
                    {{ language }}
                {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
