{% extends 'base.html' %}

{% block content %}
    <div>
        {% if request.user == post.user %}
            <a href="{% url 'core:edit-post' post.id %}">Edit</a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.description }}</p>
    </div>
    <div>
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" hidden>
        </form>
    </div>
    <div>
        {% for comment in comments %}
            <br><hr>
            <p>{{ comment.user.usertag }}, {{ comment.created|timesince }}</p>
            {{ comment.text }}
            <br>
            <a href="{% url 'core:vote-comment' comment.id %}">Vote</a>
            {{ comment.vote_count }}
        {% endfor %}
    </div>
{% endblock %}
