{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block cssjs %}
<link rel="stylesheet" href="{% static 'core/css/feed.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'core/css/utility-bar.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'core/css/post-template.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'core/js/feed.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/post-template.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'core/feed-bar.html' %}
{% cache 10 posts %}
<ul class="post-list container-list">
  {% for post in posts %}
  <li onclick="window.location.href='/post/{{ post.id }}'">
    {% include 'core/post-template.html' %}
  </li>
  {% endfor %}
</ul>
{% endcache %}
{% endblock %}

{% block popup %}
<div class="container edit-post-container">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title }}
    {{ form.text }}
    {{ form.picture }}
    <div class="flex center-vert">
      <ul class="tag-list center-vert clickable-list selectable-tag-list">
        <li>{{ form.difficulty }}</li>
        <li class="new-tag">
          <input onkeyup="searchTagE()"
                 onfocusout="collapseTagSearchE()" type="search"
                                                   class="tag">
          <ul class="popup-menu button-list tag-list">
            {% for lang in form.languages %}
            <li onmousedown="searchPickTagE()">{{ lang }}</li>
            {% endfor %}
          </ul>
        </li>
        <li onclick="showTagSearchE()">+</li>
      </ul>
      <button class="edit-post-submit" type="submit">Create</button>
    </div>
  </form>
</div>
{% endblock %}


{% block rightbar %}
<form method='GET'>
  <div id="search" class="center-vert">
    <input type="text" name="q" placeholder="Search...">
    <button type="submit" class="button fill-img round">
      <a href="{#% url 'core:search' %#}">
        <img class="dark-mode" src="{% static 'core/img/search.png' %}">
      </a>
    </button>
  </div>
</form>
{% endblock %}
