{% extends 'base.html' %}
{% load static %}

{% block cssjs %}
<link rel="stylesheet" href="{% static 'core/css/feed.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'core/css/post-template.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'core/css/list-template.css' %}" type="text/css">
{% endblock %}

{% block content %}
{% include 'core/feed-list-template.html' %}
{% endblock %}

{% block popup %}
<div id="new-post-container" class="container">
  <form method="POST" enctype="multipart/form-data">
    <input type="text" placeholder="Title" id="new-post-title">
    <textarea placeholder="Description" id="new-post-description">
    </textarea>
    <div class="flex center-vert">
      <ul class="tag-list center-vert" id="new-post-tag-list">
        <li class="clickable"> <img src="#"> </li>
        <li> C </li>
        <li id="new-post-new-tag"> <input type="search"> </li>
        <li class="clickable"> + </li>
      </ul>
    </div>
  </form>
</div>
{% endblock %}


{% block rightbar %}
<form method='GET'>
  {% spaceless %}
  <div id="search" class="center-vert">
      {{ form.q }}
      <button class="button fill-img round">
        <img src="images/search.jpg">
      </button>
  </div>
  <ul class="button-list tag-list">
    {% for trend in form.trend %} 
      <li><input type="radio" name="trend" value="{{ trend.data.value }}" selected="{{ trend.data.selected }}"{% if trend.data.attrs.checked %} checked=True {% endif %}>{{ trend.data.label }}</li>
    {% endfor %}
  </ul>
  <ul class="button-list tag-list">
    {% for diff in form.difficulty %}
      <li><input type="radio" name="difficulty" value="{{ diff.data.value }}" selected="{{ diff.data.selected }}"{% if diff.data.attrs.checked %} checked=True {% endif %}>{{ diff.data.label }}</li>
    {% endfor %}
  </ul>
  <ul class="button-list tag-list">
    {% for tag in form.languages %}
      <li><input type="radio" name="languages" value="{{ tag.data.value }}" selected="{{ tag.data.selected }}"{% if tag.data.attrs.checked %} checked=True {% endif %}>{{ tag.data.label }}</li>
    {% endfor %}
  </ul>
  {% endspaceless %}
</form>
{% endblock %}
