{% load static %}

{% block cssjs %}
<link rel="stylesheet" href="{% static 'core/css/feed-bar.css' %}" type="text/css">
{% endblock %}

<div class="utility-bar">
  <ul class="button-list">
    {% if user.is_authenticated %}
    <li>
      <a onclick="popupSetState(true)">+ POST</a>
    </li>
    {% endif %}
    <li id="search-button">
      <a onclick="setSearchVisibilityE(true)">
        Search
      </a>
      <form method='GET'>
        <input onfocusout="setSearchVisibilityE(false)" id="search-input" type="text" name="q" placeholder="Search...">
      </form>
    </li>
  </ul>
  <ul>
    <li id="sort" onmouseleave="sortPopupE(false)">
      <a class="center button" onclick="sortPopupE(true)">{{ trend }}</a>
      <ul class="popup-menu button-list center-list">
        <li><a href="{% url 'core:feed-filtered' 'home' 'new' %}">New</a></li>
        <li><a href="{% url 'core:feed-filtered' 'home' 'hot' %}">Hot</a></li>
        <li><a href="{% url 'core:feed-filtered' 'home' 'top' %}">Top</a></li>
      </ul>
    </li>
  </ul>
</div>
