<div>
  <div class="space-between post-utility-bar">
    {% if request.user.is_authenticated %}
    <button class="button">
      <a class="center" href="{% url 'core:create-post' %}">+ POST</a>
    </button>
    {% endif %}
    <button id="sort" class="button">
      <a class="center" href="#" >New</a>
    </button>
  </div>
  {% if posts %}
  <ul class="post-list container-list">
    {% for post in posts %}
    <li>
      {% include 'core/post-template.html' %}
    </li>
    {% endfor %}
  </ul>
  {% elif comments %}
  <ul class="comment-list container-list">
    {% for comment in comments %}
    <li>
      {% include 'core/comment-template.html' %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
