<div>
  <div class="space-between post-utility-bar">
    <ul class="button-list flex">
    {% block buttons %}
    {% endblock %}
    </ul>
    <button id="sort" class="button">
      <a class="center" href="#" >New</a>
    </button>
  </div>
  {% if posts %}
  <ul class="post-list container-list">
    {% for post in posts %}
    <li onclick="{{ post.id }}">
      {% comment %}
      "window.location.href='/post/{{ post.id }}'">
      {% endcomment %}
      {% include 'core/post-template.html' %}
    </li>
    {% endfor %}
  </ul>
  {% elif comments %}
  <ul class="comment-list container-list">
    {% for comment in comments %}
    <li>
      {% include 'core/comment-template.html' %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
