{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block cssjs %}
<link rel="stylesheet" href="{% static 'core/css/post-template.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'core/css/comment-template.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'core/css/post-details.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'core/js/post-template.js' %}"></script>
{% endblock %}

{% block content %}
<ul class="container-list">
  <li>
    {% include 'core/post-template.html' %}
  </li>
  <li class="center edit-status-list">
    {% if request.user == post.user %}
    <a id="edit-button" class="button" href="{% url 'core:post-edit' post.id %}">Edit</a>
    {% endif %}
    {% if post.was_edited %}
    <bold>Edited</bold>
    {% endif %}
    <small>{{ post.views }} views</small>
  </li>
  {% if request.user.is_authenticated %}
  <li class="center">
    <form method='POST'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" hidden>
    </form>
  </li>
  {% endif %}
</ul>
{% cache 10 comments %}
<ul class="post-list container-list">
  {% for comment in comments %}
  <li id="{{ comment.id }}">
    {% include 'core/comment-template.html' %}
  </li>
  {% endfor %}
</ul>
{% endcache %}
{% endblock %}
