<div>
  <div class="space-between post-margin">
    <ul class="flex center-vert-list post-info">
      <li href="{% url 'profiles:posts' post.user.usertag %}" class="clickable">
        <img src="{{ post.user.picture.url }}">
      </li>
      <li href="{% url 'profiles:posts' post.user.usertag %}" class="nowrap clickable">
        {{ post.user.username }} (@{{ post.user.usertag }})
      </li>
      <li class="post-time">
        {{ post.created|timesince }}
    </ul>
    <div class="flex center">
      <ul class="post-indicators flag-list center-list">
        {% if post.was_edited %}
        <li>E</li>
        {% endif %}
      </ul>
      <ul class="button-list post-options center-list">
        {% if request.user == post.user %}
        <li href="{% url 'core:post-delete' post.id %}">Delete</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="space-between">
    <div>
      <div class="post-title">
        {{ post.title }}
      </div>
      <div class="post-text">
        {{ post.text }}
      </div>
    </div>
    {% if post.picture %}
    <ul class="post-images">
      <li><img src="{{ post.picture.url }}"></li>
    </ul>
    {% endif %}
  </div>
</div>
<div class="post-status space-between">
  <ul class="tag-list">
    <li>{{ post.difficulty }}</li>
    {% for language in post.languages.all %}
    <li>{{ language }}</li>
    {% endfor %}
  </ul>
  <ul class="post-counters space-between icon-text-list">
    <li>
      {% if request.user.is_authenticated %}
      <img class="clickable"
           onclick = "upvoteEvent({{ post.id }},
           {% if post.vote.exists %}
           true
           {% else %}
           false
           {% endif %});"
           src="/images/up.png">
      {% else %}
      <img src="/images/up.png">
      {% endif %}
      <span class="post-vote-count">
        {{ post.vote_count }}
      </span>
    </li>
    <li><img src="images/comment.jpg">{{ post.comment_count }}</li>
  </ul>
</div>
