{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block cssjs %}
<link rel="stylesheet" href="{% static 'core/css/post-details.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container post">
  {% include 'core/post-template.html' %}
</div>
{% cache 10 comments %}
<ul class="post-list container-list">
  {% for comment in comments %}
  <li id="{{ comment.id }}">
    {% include 'core/comment-template.html' %}
  </li>
  {% endfor %}
</ul>
{% endcache %}
{% endblock %}

{% block rightbar %}
<div id="details-rightbar">
  <small>views: {{ post.views }}</small>
</div>
{% if request.user.is_authenticated %}
<hr>
<span class="header">New comment</span>
<form method='POST'>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" hidden>
</form>
{% endif %}
{% endblock %}
