{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block cssjs %}
<link rel="stylesheet" href="{% static 'core/css/feed.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'core/css/utility-bar.css' %}" type="text/css">
{% endblock %}

{% block content %}
<ul class="post-list container-list">
  {% for post in posts %}
  <li onclick="window.location.href='/post/{{ post.id }}'">
    {% include 'core/post-template.html' %}
  </li>
  {% empty %}
    <li class="notice">No prompts were found</li>
  {% endfor %}
</ul>
{% endblock %}


{% block rightbar %}
<form method='GET'>
  <div id="search" class="center-vert">
    {{ form.q }}
    <button class="button fill-img round">
      <img class="dark-mode" src="{% static 'core/img/search.png' %}">
    </button>
  </div>
  <ul class="button-list tag-list">
    {% for trend in form.trend %}
    <li><input type="radio" name="trend"
                            value="{{ trend.data.value }}"
                            selected="{{ trend.data.selected }}"
                            {% if trend.data.attrs.checked %} checked=True {% endif %}>{{ trend.data.label }}</li>
    {% endfor %}
  </ul>
  <ul class="button-list tag-list">
    {% for diff in form.difficulty %}
    <li><input type="radio" name="difficulty"
                            value="{{ diff.data.value }}"
                            selected="{{ diff.data.selected }}"
                            {% if diff.data.attrs.checked %} checked=True {% endif %}>{{ diff.data.label }}</li>
    {% endfor %}
  </ul>
  <ul class="button-list tag-list">
    {% for tag in form.languages %}
    <li>
      <input type="checkbox" name="languages"
                             value="{{ tag.data.value }}"
                             selected="{{ tag.data.selected }}"
                             {% if tag.data.attrs.checked %} checked=True {% endif %}>
      {{ tag.data.label }}
    </li>
    {% endfor %}
  </ul>
</form>
{% endblock %}
