{% extends 'fakepopup.html' %}
{% load static %}

{% block cssjs %}
<link type="text/css" rel="stylesheet" href="{% static 'users/css/login-register.css' %}">
{% endblock %}

{% block content %}
{% if type == 'register' %}
<span class="center-hor">
  Register
</span>
<form method='POST' class="center-list">
  {% csrf_token %}
  {{ form.as_p }}
  <span class="right-align">
    <input type="submit" value="Signup">
  </span>
</form>
{% else %}
<span class="center-hor">
  Login
</span>
<form method='POST' class="center-list">
  {% csrf_token %}
  {{form.as_p}}
  <span class="right-align">
    <input type="submit" value="Login">
  </span>
</form>
{% endif %}
{% endblock %}
