{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title style="visibility: collapse; display: none;">Litter</title>
    <link type="text/css" rel="stylesheet" href="{% static 'root/css/base.css' %}">
    <script type="text/javascript" src="{% static 'root/js/javascript.js' %}"></script>
    {% block cssjs %}
    {% endblock %}
  </head>
  <body onload="onLoad();">
    <div class="side-bar container blur-on-popup">
      <a id="logo" href="{% url 'core:feed' %}">
        <img src="{% static 'root/img/logo.webp' %}">
      </a>
      <ul id="nav-list" class="button-list icon-text-list">
        <li><a href="{% url 'core:feed' %}">
          <img src="{% static 'root/img/home.jpg' %}">Home
        </a></li>
        <li><a>
          <img src="{% static 'root/img/popular.jpg' %}">Popular
        </a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'profiles:notifications' request.user.usertag %}">
            <img src="{% static 'root/img/notification.jpg' %}"> Notifications
          </a></li>
          <li><a>
            <img src="{% static 'root/img/chat.png' %}">Chat
          </a></li>
          <li><a href="{% url 'profiles:posts' request.user.usertag %}">
            <img src="{% static 'root/img/profile.avif' %}">
            <span class="nowrap">
              {{request.user.username}} | @{{request.user.usertag}}
            </span>
          </a></li>
          <li><a href="{% url 'users:logout' %}">Logout</a></li>
        {% else %}
          <li class="flex" ><a href="{% url 'users:register' %}">Register</a></li>
          <li><a href="{% url 'users:login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="main" class="blur-on-popup">
      {% block content %}
      {% endblock %}
    </div>
    <div class="side-bar container blur-on-popup">
      {% block rightbar %}
      {% endblock %}
    </div>
    <div onclick="disablePopupEvent()" id="popup-background">
    </div>
    <div id="popup">
      {% block popup %}
      {% endblock %}
    </div>
    {% comment %}
    TODO: Popup this
    {% for message in messages %}
    <br>
    {{message}}
    {% endfor %}
    {% endcomment %}
  </body>
</html>
