form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
form p label {
  visibility: collapse;
  display: none;
}
form input[type=text] {
  width: 20rem;
  height: 3rem;
}
form input[type=submit] {
  margin-top: var(--big-gap);
  padding: var(--tiny-gap);
}
