#search button {
  height: fit-content;
}
#search {
  margin-bottom: var(--small-gap);
  display: flex;
}
#new-post-container {
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
}
#new-post-title {
  width: 25rem;
}
#new-post-description {
  margin: var(--big-gap) 0;
  width: 25rem;
  height: 15rem;
}
#new-post-new-tag {
  width: 7rem;
  padding: 0;
}
#new-post-new-tag input {
  width: 100%;
  height: 100%;
  border: none;
  padding: var(--tiny-gap);
}

