#search button {
  height: fit-content;
}
#search {
  margin-bottom: var(--small-gap);
  display: flex;
}
.edit-post-container {
  margin: 0 auto;
  width: 27rem;
  height: fit-content;
}
.edit-post-title, .edit-post-container textarea, .edit-post-container>form>input {
  width: 100%;
}
.edit-post-container a {
  word-break: break-all;
}
.edit-post-description {
  margin: var(--big-gap) 0;
  width: 100%;
  height: 15rem;
}
.edit-post-new-tag {
  width: 7rem;
  padding: 0;
  visibility: collapse;
  display: none;
  border: none;
  border-radius: 0;
}
.edit-post-new-tag input {
  height: 100%;
  border-radius: var(--radius) var(--radius) 0 0;
  margin: 0;
  width: 100%;
  cursor: text;
}
.edit-post-new-tag ul {
  width: 7rem;
}
.edit-post-new-tag ul>* {
  width: 100%;
}
.edit-post-tag-list {
  flex-grow: 0;
  width: 100%;
  flex-wrap: 1;
}
.edit-post-submit {
  padding: var(--small-gap);
}
#sort {
  overflow: visible;
  width: 3.7rem;
}
#sort>ul {
  position: absolute;
  visibility: collapse;
  display: none;
  width: 100%;
}
