#search button {
  height: fit-content;
  border-style: none;
  border-radius: 0;
  margin-left: var(--tiny-gap);
}
#search input {
  width: 100%;
}
#search {
  margin-bottom: var(--small-gap);
  display: flex;
  width: 100%;
  border-radius: 0;
}
#search img {
  height: 1.5vw;
  border-radius: 0;
}
.edit-post-container {
  margin: 0 auto;
  width: 27rem;
  height: fit-content;
}
.edit-post-title, .edit-post-container textarea, .edit-post-container>form>input {
  width: 100%;
}
.edit-post-container a {
  word-break: break-all;
}
.edit-post-description {
  margin: var(--big-gap) 0;
  width: 100%;
  height: 15rem;
}
.edit-post-submit {
  padding: var(--small-gap);
}
#sort {
  overflow: visible;
  width: 3.7rem;
}
#sort>ul {
  position: absolute;
  visibility: collapse;
  display: none;
  width: 100%;
}
#page-navigation {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}
#page-navigation li {
  margin-left: var(--small-gap);
  margin-top: var(--small-gap);
}
#page-navigation li a {
  padding: var(--small-gap);
}
