.post-list div {
  border-radius: 0;
}
.post-info li {
  margin-right: var(--small-gap);
  height: 3rem;
}
.post-info img {
  aspect-ratio: 1/1;
}
.post-margin {
  margin-bottom: var(--small-gap);
}
.post-status {
  min-height: 2.2rem;
  max-height: 5.2rem;
}
.post-status>.tag-list {
  margin-bottom: 0;
}
.post-text {
  height: 9rem;
}
.post-images li {
  overflow: hidden;
  border-style: solid;
  width: fit-content;
  height: fit-content;
  margin-bottom: var(--small-gap);
}
.post-images li img {
  max-height: 10rem;
  max-width: 10rem;
}
.post-time {
  margin-right: var(--small-gap);
}
.post-options {
  display: flex;
}
.post-options>li {
  margin-left: var(--small-gap);
}
.post-options>li>a {
  padding: var(--small-gap);
}
.post-indicators, .post-counters {
  justify-content: flex-end;
}
.post-counters {
  height: 2.2rem;
  align-self: end;
}
.post-counters>li {
  width: 5em;
  margin-left: var(--small-gap);
}
.post-counters>li a {
  aspect-ratio: 1/1;
}
.post-counters img {
  height: 1.7vw;
  border-radius: 0;
}
.post-title {
  font-weight: bold;
}
