/* SIZE, MARGIN AND PADDING */
.post-utility-bar>button, .post-utility-bar>ul>li {
  height: 3.5rem;
  padding: var(--big-gap);
  position: relative;
}
.post-list>li {
  margin-top: var(--small-gap);
  padding: var(--big-gap);
  max-height: 20rem;
}
.post-info  {
  height: 3rem;
}
.post-margin {
  margin-bottom: var(--small-gap);
}
.post-status {
  height: 2.2rem;
}
.post-text {
  height: 9rem;
}
.post-indicators li {
  width: 5rem;
}
.post-images li img {
  max-height: 10rem;
  max-width: 10rem;
  margin-bottom: var(--small-gap);
}
.post-time {
  margin-right: var(--small-gap);
}
/*}}}*/

/* SPECIFICS {{{*/
.post-title {
  font-weight: bold;
}
.post-list>li div{
  overflow: hidden;
  border-radius: 0;
}
/*}}}*/
