/* SIZE, MARGIN AND PADDING */
.post-info li {
  margin-right: var(--small-gap);
  height: 3rem;
}
.post-margin {
  margin-bottom: var(--small-gap);
}
.post-status {
  height: 2.2rem;
}
.post-text {
  height: 9rem;
}
.post-counters li {
  width: 5rem;
}
.post-images li img {
  max-height: 10rem;
  max-width: 10rem;
  margin-bottom: var(--small-gap);
}
.post-time {
  margin-right: var(--small-gap);
}
.post-options>li {
  padding: var(--small-gap);
}
.post-indicators, .post-counters {
  justify-content: flex-end;
}
.post-counters>li {
  width: 5em;
  margin-right: var(--small-gap);
}
.post-counters>li a {
  aspect-ratio: 1/1;
}
/*}}}*/

/* SPECIFICS {{{*/
.post-title {
  font-weight: bold;
}
/*}}}*/
